h1{
	display:none;
}

h5{
	display:block;
	font-size:14px;
	text-align:center;
	height:40px;
	color:white;
	background-color:black;
	
}

header{
	position:fixed;
	top:0px;
	background-color:white;
	display:inline-block;
	width:100%;
	height:100px;

}

body{
	background-image:url("../../public/img/pattern.jpg");
}

#idPosts{
	
	background-color:white;
	display:block;	
	text-align:justify;
	padding:0px 50px 0px 50px;
	width:65%;
	margin-top:110px;
	margin-left:15%;
	
}
#menu_kanan ul{
	float:right;
	list-style:none;
	margin-top:0px;
	
	
}
#menu_kanan ul li{
	text-align:center;
	float:right;
	padding-right:10px;
	/*padding-top:0px;*/
	/*display:inline;*/
}

